*{
    margin: 0;
    padding: 0;
}
.header{
    color: rgb(240, 248, 255);
}
body{
    background-color: black;
    text-align: center;
}
.container{
    height: 70vh;
    margin: 0 auto;
    display: flex; /* added property */
    justify-content: center; /* added property */
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
}
.box{
    height:10vmin ;
    width: 18vmin;
    border-radius:1rem ;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #fffc7f;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #fffc7f;
    font-size: 5vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: None;
}